[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
faster-whisper = "*"
ffmpeg-python = "*"
google-cloud-storage = "*"
pydantic = "==2.7.1"
google-cloud-aiplatform = "*"
google-cloud-firestore = "*"
fastapi = "*"
uvicorn = "*"
email-validator = "*"
adk = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
